@charset "UTF-8";

#maincontent > * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a.moreButton {
	background-image: url(../images/more.gif);
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	border-color: #DDDD #AAA #AAA #DDD;
	display: block;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 30px;
	margin:0 auto;
	margin-bottom:10px;
	text-align: center;
	text-decoration: none;
	width: 95%;
	
	/* HTML5 */
	border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}

a.moreButton:hover {
	background-position:left -78px;
    border:1px solid #BBBBBB;
    text-decoration:none;
}

#timeline {
	width: 700px;
	margin: 0 auto;
}

.tweet {
	background: rgba(255, 255, 255, 0.85);
	width: 100%;
	border-bottom: 3px solid rgba(185, 160, 107, 0.25);
	padding: 8px;
	margin: 0 auto 10px;
	border-radius: 8px;
}

.tweet .avatar {
	float:left;
	padding-right: 8px;
}

#maincontent
.tweet .text {
	font-family: Georgia, serif;
	font-size: 1.5em;
	color:#444;
	line-height: 140%;
	margin-left: 56px;
}

.tweet .text > .origination {
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	opacity: 0.45;
}




/*=====================================
	New Styles, yo
=====================================*/

.head-band, .intro-band, .twitter-band {
	width: 100%;
	overflow: hidden;
}

.head-band {
	background: url('../images/big-bird.png') no-repeat 420px 0px, radial-gradient(circle, #4ACFF9, #42B4EA);
	height: 310px;
}

.intro-band {
	background: white;
}

#maincontent
.head-band > h2,
#maincontent
.intro-band > h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 5em;
	font-weight: normal;
}

#maincontent
.head-band > h2 {
	color: white;
	line-height: 4.5em;
	margin-left: 2em;
}

#maincontent
.intro-band > h2 {
	color: #444;
	line-height: 140%;
	text-align: center;
	margin-top: 0.85em;
}

.share {
	list-style: none;
	text-align: center;
	margin-bottom: 30px;
}

.share li {
	display: inline-block;
}

.twitter-band {
	background: url('../images/bg.jpg') repeat;
	border-top: 5px solid rgba(173, 121, 10, 0.05);
	padding-top: 20px;
}